In [1]:
import csv
import pandas as pd

In [2]:
carbon_df = pd.read_csv("carbon_nanotubes.csv", delimiter=';')
carbon_df.head()

,Chiral indice n,Chiral indice m,Initial atomic coordinate u,Initial atomic coordinate v,Initial atomic coordinate w,Calculated atomic coordinates u',Calculated atomic coordinates v',"Calculated atomic coordinates w',,,,,,"
0,2,1,"0,679005","0,701318","0,017033","0,721039","0,730232","0,17014"
1,2,1,"0,717298","0,642129","0,231319","0,738414","0,65675","0,232369"
2,2,1,"0,489336","0,303751","0,088462","0,477676","0,263221","0,88712"
3,2,1,"0,413957","0,632996","0,040843","0,408823","0,657897","0,39796"
4,2,1,"0,334292","0,543401","0,15989","0,303349","0,558807","0,157373"

In [8]:
ll = []
with open("carbon_nanotubes.csv", 'r') as cf:
    data_csv = csv.reader(cf, delimiter ='\n')
    for i in data_csv:
        ll.append(i[0].split(';'))
with open("new_carbon_nanotubes.csv", 'w', newline='') as ncf:
        wobj = csv.writer(ncf)
        wobj.writerows(ll)

In [9]:
carbon_df = pd.read_csv("new_carbon_nanotubes.csv")
carbon_df.head()

,Chiral indice n,Chiral indice m,Initial atomic coordinate u,Initial atomic coordinate v,Initial atomic coordinate w,Calculated atomic coordinates u',Calculated atomic coordinates v',"Calculated atomic coordinates w',,,,,,"
0,2,1,"0,679005","0,701318","0,017033","0,721039","0,730232","0,17014"
1,2,1,"0,717298","0,642129","0,231319","0,738414","0,65675","0,232369"
2,2,1,"0,489336","0,303751","0,088462","0,477676","0,263221","0,88712"
3,2,1,"0,413957","0,632996","0,040843","0,408823","0,657897","0,39796"
4,2,1,"0,334292","0,543401","0,15989","0,303349","0,558807","0,157373"